{% extends 'base.html'%}
{% block content %}
<body>
    <div class="ui container">
        <h1>Stock price prediction application</h1>
        <div class="ui segment">
            <p>
                Welcome to the Udacity stock price predictor. This webapp can be used to create a price prediction model based on a set of tickers and a time range.
                In the background, the price data for the selected tickers is pulled from Yahoo Finance. Then, a machine learning model is created and trained based 
                on the historic price data. After the training process is finished, the model can be queried to predict the price of certain tickers used for the model
                training on future dates.
            </p>    
        </div>
        
        
        <div class="ui segment">
            <form action="/model" method='POST' name="createModelForm">
                <label for="model_tickers">Select the tickers to build up the model </label>
                <select name = "model_tickers" id="model_tickers" class="ui search fluid dropdown" multiple="" onchange="update_model_target">
                    {% for ticker in tickers %}
                    {% if tickers.index(ticker) == 0: %}
                    <option value = "{{ ticker }}" selected>{{ ticker }}</option>
                    {% else: %}
                    <option value = "{{ ticker }}">{{ ticker }}</option>
                    {% endif %}
                    {% endfor %}
                 </select>
                 <br>

                 <label for="model_target"> Select the ticker to predict with the model: </label>
                 <select name = "model_target" id="model_target" class="ui search fluid dropdown">
                 </select>
                 <br>
                 
                 <label for="date_pickers"> Select the time range to train the model on</label>
                 <div class="two fields" id="date_pickers">
                    <div class="field">
                      <label>Start date</label>
                      <div class="ui calendar" id="rangestart">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input name="startdate" type="text" placeholder="Start">
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <label>End date</label>
                      <div class="ui calendar" id="rangeend">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input name="enddate" type="text" placeholder="End">
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>

                <input type="submit">
            </form>
        </div>
        

    </div>
    <script>
        $('.ui.dropdown').dropdown();

        var today = new Date();
        $('#rangestart').calendar({
            type: 'date',
            startMode: 'year',
            initialDate: new Date('2018-12-24'),
            minDate : new Date('2000-01-01'),
            endCalendar: $('#rangeend'),
            maxDate: today,
            selectAdjacentDays: true,
        });
        $('#rangeend').calendar({
            type: 'date',
            startMode: 'year',
            initialDate: new Date(),
            minDate : new Date('2000-01-01'),startCalendar: $('#rangestart'),
            maxDate: today,
            selectAdjacentDays: true,
        });

        let model_tickers = document.getElementById("model_tickers")
        let model_target = document.getElementById("model_target")
        
        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i=0, iLen=options.length; i<iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                result.push(opt.value || opt.text);
                }
            }
            return result;
        }

        function update_dropdowns() {
            tickers = getSelectValues(model_tickers)

            let optionHTML = "";
            // Distinguish the first iteration from the others, to correctly preselect the first item
            var first = true;
            for (let ticker of tickers){
                if (first){
                    optionHTML += "<option selected value='" + ticker + "'>" + ticker + '</option>';
                    first = false;
                } else {
                    optionHTML += "<option value='" + ticker + "'>" + ticker + '</option>';
                }    
            }
            model_target.innerHTML = optionHTML;
        }

        model_tickers.onchange = function() {
            tickers = getSelectValues(model_tickers)

            let optionHTML = "";
            // Distinguish the first iteration from the others, to correctly preselect the first item
            var first = true;
            for (let ticker of tickers){
                if (first){
                    optionHTML += "<option selected value='" + ticker + "'>" + ticker + '</option>';
                    first = false;
                } else {
                    optionHTML += "<option value='" + ticker + "'>" + ticker + '</option>';
                }    
            }
            model_target.innerHTML = optionHTML;
        }
        // initialize the default value for model_tickers
        model_tickers.onchange();
    </script>
</body>
{% endblock %}



