{% extends 'base.html'%}
{% block content %}
<div class="ui container">
    <h1>Stock price prediction application</h1>
    <div class="ui segment">
        <p>
            Welcome to the Udacity stock price predictor. This webapp can be used to create a price prediction model
            based on a set of tickers and a time range.
            In the background, the price data for the selected tickers is pulled from Yahoo Finance. Then, a machine
            learning model is created and trained based
            on the historic price data. After the training process is finished, the model can be queried to predict the
            price of certain tickers used for the model
            training on future dates.
        </p>
    </div>
    <div class="ui segment">
        <form action="/create_model" method='GET' name="create_model">
            <input type="submit" value="Create new model">
        </form>
    </div>
    <div class="ui segment">
        <form action="/select_model" method='GET' name="select_model">
            <input type="submit" value="Load existing model">
        </form>
    </div>

    {% endblock %}