{% extends 'base.html' %}
{% block content %}
<body>
    <div class="ui container">
        <div class="ui segment">
            <h1>The model was successfully trained</h1>
        </div>

        <div class="ui segment">
            <h4>Start Date is: {{startdate}}</h4>
            <h4>End Date is: {{enddate}}</h4>
            <h4>Tickers are: {{model_tickers}}</h4>
            <h4>Ticker to predict is: {{ model_target }}</h4>
        </div>
        <div class="ui segment">
            <form action="/prediction" method='POST' name="prediction_request">
                <label for="num_days">Select a number of days to predict:</label>
                <input type="number" id="num_days" name="num_days" min="1" max="10">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
{% endblock %}