{% extends 'base.html' %}
{% block content %}
<div class="ui container">
    <div class="ui segment">

        <h1>The model "{{model_name}}" was  successfully loaded</h1>
    </div>

    <p>
        {{ model_name }}
    </p>

    <div class="ui segment">
        <h4>Start Date is: {{start_date}}</h4>
        <h4>End Date is: {{end_date}}</h4>
        <h4>Tickers are: {{model_tickers}}</h4>
    </div>
    <div class="ui segment">
        <form action="/results" method='POST' name="prediction_request">

            <label for="target_tickers">Select the tickers to predict with the model:</label>
            <select name="target_tickers" id="target_tickers" class="ui search fluid dropdown" multiple="" required>
                {% for ticker in model_tickers %}
                {% if model_tickers.index(ticker) == 0: %}
                <option value="{{ ticker }}" selected>{{ ticker }}</option>
                {% else: %}
                <option value="{{ ticker }}">{{ ticker }}</option>
                {% endif %}
                {% endfor %}
            </select>

            <br>
            <label for="date_pickers"> Select the dates for which you want to predict the stock price: </label>
            <br>
            <br>
            <input type="button" id="addCalendarButton" value="Add date">
            <br>
            <br>
            <div class="two fields" id="date_pickers">

                <div class="ui cards" id="cards">

                    <div class="card" id="card_1">
                        <div class="content">
                            <label>Start date</label>
                            <div class="ui calendar" id="rangestart_1">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="dates[]" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="extra content" id='remove_1'>
                            <span class='remove'>
                                <div class="ui basic red button">Remove</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <input type="submit">
        </form>
    </div>
</div>
<script>
    $('.ui.dropdown').dropdown();

    var today = new Date();
    var tomorrow = new Date();
    tomorrow.setDate(today.getDate() + 1)
    console.log("Today: " + today)
    console.log("Tomorrow: " + tomorrow)
    $('#rangestart_1').calendar({
        type: 'date',
        initialDate: tomorrow,
        minDate: today,
        selectAdjacentDays: true,
    });


    $(document).ready(function () {
        // Add new calendar card
        $("#addCalendarButton").click(function () {

            var lastid = $(".card:last").attr("id");
            var split_id = lastid.split("_");
            var nextindex = Number(split_id[1]) + 1;
            console.log("lastid: " + lastid)
            console.log("split_id: " + split_id)
            console.log("nextindex: " + nextindex)

            $("#cards").append(`
            <div class="card" id="card_` + nextindex + `">
                        <div class="content">
                            <label>Start date</label>
                            <div class="ui calendar" id="rangestart_` + nextindex + `">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="dates[]" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="extra content" >
                            <span class='remove' id='remove_` + nextindex + `'>
                                <div class="ui basic red button" >Remove</div>  
                            </span>
                        </div>  
                    </div>
            `);
            // Fill calendar widget with the current date
            var today = new Date();
            var tomorrow = new Date();
            tomorrow.setDate(today.getDate() + 1)
            $('#rangestart_' + nextindex).calendar({
                type: 'date',
                initialDate: tomorrow,
                minDate: today,
                selectAdjacentDays: true,
            });

            // Remove element when "Remove"-Button is clicked
            $('#card_' + nextindex).on('click', '.remove', function () {
                console.log("Remove clicked")
                var id = this.id;
                var split_id = id.split("_");
                var deleteindex = split_id[1];
                console.log(id)
                // Remove <div> with id
                $("#card_" + deleteindex).remove();
            });
        });
    });

</script>
{% endblock %}